.ant-tabs-ink-bar{
    border: 1px solid transparent;
    border-color: #dae1e7 #dae1e7 transparent;
  }

  label {
    color: #5e5873;
    font-size: .857rem;
    margin-bottom: .2857rem;
}

  .ant-input,.ant-picker{
    padding: 0 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    height: 2.714rem;

    &:focus{
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
  }

  .ant-input-password{
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    height: 2.714rem;

    .ant-input{
      height: auto;
      // padding-top: 8px !important;
    }
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border: 1px solid #d8d6de;
    border-radius: .357rem;
    height: 2.714rem;
    font-size: 1rem;
    padding: .238rem 1rem;
  }

  .ant-radio-button-wrapper{
    height: 2.714rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.6;

    color: #6e6b7b;
      &:first-child{
        border-radius: .357rem 0 0 .357rem;
        
      }

      &:last-child{
        border-radius: 0 .357rem .357rem 0;
      }
      
    
  }