.sider{
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    z-index: 999;
    direction: ltr;
    background-color: #fff;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

.header{
    position: fixed;
    left: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.menu{
    border:none;
    padding:0 20px;
    font-size: 1.1rem;
    background-color: transparent;

}




.horwrapper{
    display: flex;
    height:100%;

    .leftnav{
        flex:1;
        height:100%;
        
        .mobile{
            height: 100%;
            display: none;
            align-items: center;            
        }
    }

    .hor{
        height:100%;
        border:none;
        flex:1;
        display: flex;
        justify-content: flex-end;

        li{
            display: flex;
            align-items: center;
        }
    }
}

.main{
    background:#fafafb;
    padding:30px 20px 15px 280px;
}

.item{
    height: 30px;
    display: flex;
    align-items: center;
    &:not(:first-child){
        margin-top: 20px;
    }
    a{
        color: #625f6e;
        &:hover{
            color: #625f6e;
        }
    }
}

@media screen and (max-width:576px){
    .main{
        padding-left: 10px;
        padding-right: 10px;
    }

    
    
}